<mat-toolbar>
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon><img src="/assets/blog.svg"></mat-icon>
  </button>
  <span>Blog App</span>
  <span class="example-spacer"></span>

  <div class="all-btns" style="display: flex; gap: 5px;">
    <button routerLink="/create-post">
      <img src="../assets/create.svg" alt="">
      <p>Create</p>
    </button>
    <button routerLink="/">
      <img src="../assets/check.svg" alt="">
      <span>See Posts</span>
    </button>
    <button routerLink="/search-by-name">
      <img src="../assets/search.svg" alt="">
      <span>Search</span>
    </button>
  </div>
  
</mat-toolbar>

<router-outlet></router-outlet>
